ASSIGNMENT-2     DATA FILTERING & TRANSFORMATION

PART-1

In [11]:
#loading the data set
import pandas as pd
sales=pd.read_csv("D:/COE/datasets-main/store_sales (1).csv")

In [20]:
#to display the first and last 5 rows
print(sales.head(5))
print(sales.tail(5))

   store_id  city  Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  Nov  Dec
0       NaN   NaN    8   20   13   21   17   20    24   17   16    9    7    6
1       NaN   NaN   12   19   15   15   11   19     7   15   10   11   21   19
2       NaN   NaN   16   16   14   19   23    6    13   13   15   14   24    8
3       NaN   NaN    8   18   13   10   14   14     6    8    8   18    7   11
4       NaN   NaN   19    5   24    9    5   24    10    5   24   15    6   13
    store_id  city  Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  Nov  \
95       NaN   NaN    7   10   20   20   10   15    15   21   15    7   23
96       NaN   NaN   13    6    7   15   22   10    21   23   10    6   12
97       NaN   NaN   16    9    6   14   20   13    11   10    8   22   17
98       NaN   NaN   18   16    9    5   12   22    11   13   21   17   19
99       NaN   NaN    5   23   17   24   15   21    19   10   12   20    5

    Dec
95   22
96    9
97   22
98   10
99    9

In [21]:
#to print the data types,shape and non-null count
print(sales.shape) 
print(sales.info())

(100, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   store_id  0 non-null      float64
 1   city      0 non-null      float64
 2   Jan       100 non-null    int64
 3   Feb       100 non-null    int64
 4   Mar       100 non-null    int64
 5   Apr       100 non-null    int64
 6   May       100 non-null    int64
 7   Jun       100 non-null    int64
 8   July      100 non-null    int64
 9   Aug       100 non-null    int64
 10  Sep       100 non-null    int64
 11  Oct       100 non-null    int64
 12  Nov       100 non-null    int64
 13  Dec       100 non-null    int64
dtypes: float64(2), int64(12)
memory usage: 11.1 KB
None

In [26]:
#to print column names and summary statistics
print(sales.columns.tolist())
print(sales.describe())

['store_id', 'city', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
       store_id  city         Jan         Feb         Mar         Apr  \
count       0.0   0.0  100.000000  100.000000  100.000000  100.000000
mean        NaN   NaN   14.460000   15.090000   14.560000   14.570000
std         NaN   NaN    5.712683    6.055459    5.782803    4.965039
min         NaN   NaN    5.000000    5.000000    5.000000    5.000000
25%         NaN   NaN   10.000000    9.000000    9.750000   11.000000
50%         NaN   NaN   15.000000   16.000000   15.000000   14.500000
75%         NaN   NaN   19.000000   21.000000   19.250000   19.000000
max         NaN   NaN   24.000000   24.000000   24.000000   24.000000

              May         Jun        July         Aug         Sep        Oct  \
count  100.000000  100.000000  100.000000  100.000000  100.000000  100.00000
mean    13.560000   13.800000   14.380000   15.810000   14.910000   14.10000
std      5.883241    5.962848    5.566458    6.152432    5.284043    5.87496
min      5.000000    5.000000    5.000000    5.000000    5.000000    5.00000
25%      8.000000    9.000000   10.000000   11.000000   11.000000    9.00000
50%     13.000000   13.500000   15.000000   17.000000   14.500000   14.00000
75%     19.000000   19.000000   19.000000   21.000000   19.000000   19.00000
max     24.000000   24.000000   24.000000   24.000000   24.000000   24.00000

              Nov         Dec
count  100.000000  100.000000
mean    15.310000   13.570000
std      6.461533    5.852143
min      5.000000    5.000000
25%     10.000000    8.000000
50%     16.000000   13.000000
75%     21.250000   19.000000
max     24.000000   24.000000

In [27]:
#to print total and averae sales for each month
for month in sales.columns:
    sales[month] = pd.to_numeric(sales[month], errors='coerce')
    sum_val = sales[month].sum()
    mean_val = sales[month].mean()
    print(f"{month} - sum: {sum_val}, mean: {mean_val}")

store_id - sum: 0.0, mean: nan
city - sum: 0.0, mean: nan
Jan - sum: 1446, mean: 14.46
Feb - sum: 1509, mean: 15.09
Mar - sum: 1456, mean: 14.56
Apr - sum: 1457, mean: 14.57
May - sum: 1356, mean: 13.56
Jun - sum: 1380, mean: 13.8
July - sum: 1438, mean: 14.38
Aug - sum: 1581, mean: 15.81
Sep - sum: 1491, mean: 14.91
Oct - sum: 1410, mean: 14.1
Nov - sum: 1531, mean: 15.31
Dec - sum: 1357, mean: 13.57

In [28]:
#total yearly sales for all stores
year= sales[month].sum().sum()
print(year)

1357